<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/ico/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- Custom styles for this template -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/rating.js') }}"></script>

  </head>

  {% include 'partials/Navgation.html' %}

  <body>
    <div class="container">
      {% with messages = get_flashed_messages(category_filter=["Success"]) %}
        {% if messages %}
          <div class="alert alert-success alert-dismissible" role="alert">
            {% for success in messages %}
              {{success}}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
        {% endif %}
      {% endwith %}

      {% with errors = get_flashed_messages(category_filter=["Error"]) %}
        {% if errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            {% for error in errors %}
              {{error}}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
        {% endif %}
      {% endwith %}
    </div>

    {% block body %}
    {% endblock %}
  </body>

</html>