{% extends "partials/layout.html" %}
{% block title %} FilmDatify {% endblock %}

{% block body %}

<style>
#match-container a:link, a:visited {
    color: black;
    text-decoration: none;
    display: inline-block;
}
</style>

<div>
  <h1 style="text-align: center;">Your Dashboard</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-7">
			<!--Search for movies-->
			<h3>Search for...</h3>
        <form action="" method="post" class="form">
					<div class="input-group">
			      <span><input name="title" type="text" class="form-control" placeholder="Movie" style="width: 28%; margin:10px"></span>
						<span><input name="person" type="text" class="form-control" placeholder="with Actor or Director" style="width: 28%; margin:10px"></span>
	          <span class="input-group-btn">
	          	<button class="btn btn-default" type="submit">Search</button>
	          </span>
	        </div>
        </form>
        {% if result %}
        <h3>Results</h3>
          <ul class="list-group">
						{% for data in result %}
						<a href="movieDetail/{{data.id}}" class="list-group-item">
							<p><b>Title:</b> {{data.title}}</p>
							<p><b>Year:</b> {{data.year}}</p>
							<p><b>Duration:</b>
                {% if data.duration %}
                  {{data.duration}}
                {% else %}
                  Not available
                  {% endif %}
              </p>
							<p><b>Rate:</b>
                {% if data.mpaa_rating %}
                  {{data.mpaa_rating}}
                {% else %}
                  Not available
                  {% endif %}
              </p>

		          <div class="clearfix"></div>
						</a>
						{% endfor %}
					</ul>
        {% endif %}
		</div>

		<div class="col-xs-4 col-xs-offset-1" id="popular">
			<h3>Recommended Movies</h3>
			<div class="list-group">
				{% for movie in recommendations%}
			  <a href="/movieDetail/{{movie.DBid}}" class="list-group-item">
					<div class="row">
					<div class="col-xs-6">
						{% if movie.poster_path %}
						<img class="img-responsive" src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}"/>
						{% else%}
						<img class="img-responsive" src="http://placehold.it/150x200"/>
						{% endif %}
					</div>
					<div class="col-xs-6">
						<p>Title: {{movie.title}}</p>
						<p>Year: {{movie.release_date}}</p>
						<p>Runtime: {{movie.runtime}}</p>
					</div>
					</div>
				</a>
				{% endfor %}

			</div>

		</div>
	</div>
</div>
{% endblock %}
