{% extends "partials/layout.html" %}
{% block title %} FilmDatify {% endblock %}

{% block body %}

<style>
#match-container a:link, a:visited {
    color: black;
    text-decoration: none;
    display: inline-block;
}
</style>

<div>
  <h1 style="text-align: center;">Your Dashboard</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-7">
			<!--Search for movies-->
			<h3>Search for...</h3>
        <form action="" method="post" class="form">
					<div class="input-group">
			      <span><input name="title" type="text" class="form-control" placeholder="Movie" style="width: 28%; margin:10px"></span>
						<span><input name="person" type="text" class="form-control" placeholder="with Actor or Director" style="width: 28%; margin:10px"></span>
	          <span class="input-group-btn">
	          	<button class="btn btn-default" type="submit">Search</button>
	          </span>
	        </div>
        </form>        
        {% if result %}
        <h3>Results</h3>
          <ul class="list-group">
						{% for data in result %}
						<a href="{{data.id}}" class="list-group-item">
							{% for attribute in data %}
								{{ attribute}}
							{% endfor %}
		          <div class="clearfix"></div>
						</a>
						{% endfor %}
					</ul>
        {% endif %}
		</div>

		<div class="col-xs-4 col-xs-offset-1" id="popular">
			<h3>Recommended Movies</h3>
			<div class="list-group">
			  <a href="/movieDetail" class="list-group-item">
					<div class="row">
					<div class="col-xs-6">
						<img class="img-responsive" src="http://placehold.it/150x200"/>
					</div>
					<div class="col-xs-6">
						<p>Title</p>
						<p>Year</p>
						<p>Genre</p>
						<p>Director</p>
					</div>
					</div>
				</a>

				<a href="/movieDetail" class="list-group-item">
					<div class="row">
					<div class="col-xs-6">
						<img class="img-responsive" src="http://placehold.it/150x200"/>
					</div>
					<div class="col-xs-6">
						<p>Title</p>
						<p>Year</p>
						<p>Genre</p>
						<p>Director</p>
					</div>
					</div>
				</a>

				<a href="/movieDetail" class="list-group-item">
					<div class="row">
					<div class="col-xs-6">
						<img class="img-responsive" src="http://placehold.it/150x200"/>
					</div>
					<div class="col-xs-6">
						<p>Title</p>
						<p>Year</p>
						<p>Genre</p>
						<p>Director</p>
					</div>
					</div>
				</a>

				<a href="/movieDetail" class="list-group-item">
					<div class="row">
					<div class="col-xs-6">
						<img class="img-responsive" src="http://placehold.it/150x200"/>
					</div>
					<div class="col-xs-6">
						<p>Title</p>
						<p>Year</p>
						<p>Genre</p>
						<p>Director</p>
					</div>
					</div>
				</a>

				<a href="/movieDetail" class="list-group-item">
					<div class="row">
					<div class="col-xs-6">
						<img class="img-responsive" src="http://placehold.it/150x200"/>
					</div>
					<div class="col-xs-6">
						<p>Title</p>
						<p>Year</p>
						<p>Genre</p>
						<p>Director</p>
					</div>
					</div>
				</a>

			</div>

		</div>
	</div>
</div>
{% endblock %}
