{% extends "partials/layout.html" %}
{% block title %} FilmDatify {% endblock %}

{% block body %}
<style>
h1 {
	font-family: "Helvetica";
	text-align: center;
 }

</style>
<div>
  <h1>Your Dashboard</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h2>Your Matches</h2>
			<div class="row" id="match-container">
				<div class="col-sm-2 match-col text-center">
					<img class="img-responsive" src="http://placehold.it/150x150"/>
					<h5>Name<h5>
					<p>Age</p>
					<p>Location</p>
				</div>
				<div class="col-sm-2 match-col text-center">
					<img class="img-responsive" src="http://placehold.it/150x150"/>
					<h5>Name<h5>
					<p>Age</p>
					<p>Location</p>
				</div>
				<div class="col-sm-2 match-col text-center">
					<img class="img-responsive" src="http://placehold.it/150x150"/>
					<h5>Name<h5>
					<p>Age</p>
					<p>Location</p>
				</div>
				<div class="col-sm-2 match-col text-center">
					<img class="img-responsive" src="http://placehold.it/150x150"/>
					<h5>Name<h5>
					<p>Age</p>
					<p>Location</p>
				</div>
				<div class="col-sm-2 match-col text-center">
					<img class="img-responsive" src="http://placehold.it/150x150"/>
					<h5>Name<h5>
					<p>Age</p>
					<p>Location</p>
				</div>
				<div class="col-sm-2 match-col text-center">
					<img class="img-responsive" src="http://placehold.it/150x150"/>
					<h5>Name<h5>
					<p>Age</p>
					<p>Location</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
{% endblock %}
