{% extends "partials/layout.html" %}
{% block title %} FilmDatify {% endblock %}

{% block body %}
<style type="text/css">
	.list-group-horizontal .list-group-item {
	    display: inline-block;
	}
	.list-group-item {
		border: none;
	}
</style>

<div class="container">
	<div class="row">
		<div class="page-header">
		  <h1>Matches <small>Subtext for header</small></h1>
		</div>
	</div>
	<div class="row">
		<div class="list-group list-group-horizontal">
			<a href="#" class="list-group-item">
				<div class="row">
					<div class="col-sm-12">
						<img class="img-responsive thumbnail center-block" src="http://placehold.it/150x200"/>
						<p class="text-center">Name</p>
						<p class="text-center">Age</p>
						<p class="text-center">Location</p>
					</div>
				</div>
			</a>
			<a href="#" class="list-group-item">
				<div class="row">
					<div class="col-sm-12">
						<img class="img-responsive thumbnail center-block" src="http://placehold.it/150x200"/>
						<p class="text-center">Name</p>
						<p class="text-center">Age</p>
						<p class="text-center">Location</p>
					</div>
				</div>
			</a>
			<a href="#" class="list-group-item">
				<div class="row">
					<div class="col-sm-12">
						<img class="img-responsive thumbnail center-block" src="http://placehold.it/150x200"/>
						<p class="text-center">Name</p>
						<p class="text-center">Age</p>
						<p class="text-center">Location</p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="container" style="padding-left:50px; padding-right: 50px;">
			<div class="col-sm-3">
				<h3>New Match</h3>
				<div>
					<img class="img-responsive thumbnail" src="{{ url_for('static', filename='images/RandomMan1.jpg') }}" id="matchImg">
					<h3> Blake Peckham </h3>
					<h4> Age: 22 </h4>
					<h4> Location: Chicago </h4>
					<div class="btn-group btn-group-justified" role="group">
					  <div class="btn-group" role="group">
  						<form accept-charset="UTF-8" action="/matches" method="POST">
								<input name="id" type="hidden" value="{{newMatch.id}}"> 
								<input name="state" type="hidden" value="yes"> 
						    <button type="submit" class="btn btn-success">Yes</button>
					    </form>
					  </div>
					  <div class="btn-group" role="group">
  						<form accept-charset="UTF-8" action="/matches" method="POST">
								<input name="id" type="hidden" value="{{newMatch.id}}"> 
								<input name="state" type="hidden" value="no"> 
						    <button type="button" class="btn btn-danger">No</button>
 					    </form>
					  </div>
					</div>
				</div>
			</div>

			<div class="col-sm-9">
				<div class="row">
					<h3>Movies</h3>
					<div class="list-group list-group-horizontal">
						<a href="movieDetail/123" class="list-group-item">
							<div class="row">
								<div class="col-sm-12">
									<img class="img-responsive thumbnail center-block" src="http://placehold.it/150x200"/>
									<p class="text-center">Title</p>
								</div>
							</div>
						</a>

						<a href="movieDetail/123" class="list-group-item">
							<div class="row">
								<div class="col-sm-12">
									<img class="img-responsive thumbnail center-block" src="http://placehold.it/150x200"/>
									<p class="text-center">Title</p>
								</div>
							</div>
						</a>

						<a href="#" class="list-group-item">
							<div class="row">
								<div class="col-sm-12">
									<img class="img-responsive thumbnail center-block" src="http://placehold.it/150x200"/>
									<p class="text-center">Title</p>
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="row">
					<h3>Actors/Actresses/Directors</h3>
					<div class="list-group list-group-horizontal">
					  <a href="/personDetail" class="list-group-item">
							<div class="row">
								<div class="col-sm-12">
									<img class="img-responsive thumbnail center-block" src="http://placehold.it/150x200"/>
									<p class="text-center">Name</p>
								</div>
							</div>
						</a>
						<a href="#" class="list-group-item">
							<div class="row">
								<div class="col-sm-12">
									<img class="img-responsive thumbnail center-block" src="http://placehold.it/150x200"/>
									<p class="text-center">Name</p>
								</div>
							</div>
						</a>
						<a href="#" class="list-group-item">
							<div class="row">
								<div class="col-sm-12">
									<img class="img-responsive thumbnail center-block" src="http://placehold.it/150x200"/>
									<p class="text-center">Name</p>
								</div>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


{% endblock %}