{% extends "partials/layout.html" %}
{% block title %} FilmDatify {% endblock %}

{% block body %}

<style>
#matchBox {
    margin-top:25px;
    border: 2px solid black;
    width: 80%;
    height: 625px;
    padding-top: 20px;
}
#matchImg{
	height: 450px;
	width: 80%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
#buttons{
	text-align: center;
}
h1 { 
  	font-family: "Helvetica";
  	text-align: center;
   }
h4 { 
  	font-family: "Helvetica";
  	text-align: center;
   }

</style>

<div>
  <h1>Your Matches</h1><br>
</div>

<div class="col-md-6">
	<div id="matchBox">
		<img src="{{ url_for('static', filename='images/RandomMan1.jpg') }}" id="matchImg">
		<h1 text-align:"center"> Blake Peckham </h1>
		<h4 text-align="center"> Age: 22 </h4>
		<div id="buttons">
			<button type="button" class="btn btn-success">Yes</button>
			<button type="button" class="btn btn-danger">No</button>
		</div>
	</div>
	<nav aria-label="..."> <!-- Bootstrap Pagination-->
	  <ul class="pagination">
	    <li class="page-item disabled">
	      <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	        <span class="sr-only">Previous</span>
	      </a>
	    </li>
	    <li class="page-item active">
	      <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
		 </li>
	    <li class="page-item"><a class="page-link" href="#">2</a></li>
	    <li class="page-item"><a class="page-link" href="#">3</a></li>
	    <li class="page-item"><a class="page-link" href="#">4</a></li>
	    <li class="page-item"><a class="page-link" href="#">5</a></li>
	    <li class="page-item">
	      <a class="page-link" href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	        <span class="sr-only">Next</span>
	      </a>
	    </li>
	  </ul>
	</nav>	<!-- END Bootstrap Pagination-->
</div>

<h2> Mutual Interests: </h2>
<div class="col-md-3">
	<h3>Movies</h3>
	<div class="list-group">
	  <a href="#" class="list-group-item">
			<div class="row">
			<div class="col-xs-6">
				<img class="img-responsive" src="http://placehold.it/150x200"/>
			</div>
			<div class="col-xs-6">
				<p>Title</p>
				<p>Year</p>
				<p>Genre</p>
				<p>Director</p>
			</div>
			</div>
		</a>

		<a href="#" class="list-group-item">
			<div class="row">
			<div class="col-xs-6">
				<img class="img-responsive" src="http://placehold.it/150x200"/>
			</div>
			<div class="col-xs-6">
				<p>Title</p>
				<p>Year</p>
				<p>Genre</p>
				<p>Director</p>
			</div>
			</div>
		</a>

		<a href="#" class="list-group-item">
			<div class="row">
			<div class="col-xs-6">
				<img class="img-responsive" src="http://placehold.it/150x200"/>
			</div>
			<div class="col-xs-6">
				<p>Title</p>
				<p>Year</p>
				<p>Genre</p>
				<p>Director</p>
			</div>
			</div>
		</a>
		<a href="#" class="list-group-item">
			<div class="row">
			<div class="col-xs-6">
				<img class="img-responsive" src="http://placehold.it/150x200"/>
			</div>
			<div class="col-xs-6">
				<p>Title</p>
				<p>Year</p>
				<p>Genre</p>
				<p>Director</p>
			</div>
			</div>
		</a>
	</div>
</div>

<div class="col-md-3">
	<h3>Actors/Actresses</h3>
	<div class="list-group">
	  <a href="#" class="list-group-item">
			<div class="row">
			<div class="col-xs-6">
				<img class="img-responsive" src="http://placehold.it/150x200"/>
			</div>
			<div class="col-xs-6">
				<p>Name</p>
				<p>Age</p>
			</div>
			</div>
		</a>
		<a href="#" class="list-group-item">
			<div class="row">
			<div class="col-xs-6">
				<img class="img-responsive" src="http://placehold.it/150x200"/>
			</div>
			<div class="col-xs-6">
				<p>Name</p>
				<p>Age</p>
			</div>
			</div>
		</a>
	</div>

	<h3>Directors</h3>
	<div class="list-group">
	  <a href="#" class="list-group-item">
			<div class="row">
			<div class="col-xs-6">
				<img class="img-responsive" src="http://placehold.it/150x200"/>
			</div>
			<div class="col-xs-6">
				<p>Name</p>
				<p>Age</p>
			</div>
			</div>
		</a>
	</div>
</div>
{% endblock %}