{% extends "partials/layout.html" %}
{% block title %} FilmDatify {% endblock %}

{% block body %}

  <head>
    <style>
       #map {
        height: 300px;
        width: 80%;
       }
       .list-group-horizontal .list-group-item {
           display: inline-block;
       }
       .list-group-item {
         border: none;
       }
    </style>
  </head>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWNdE1RPdyWu9dEOWDIKWfwl3g8A9kuJo&libraries=places&callback=initMap"
      async defer></script>


  <script>
  var userlat = {{location.user.lat}};
  var userlng = {{location.user.lng}};
  var matchlat = {{location.match.lat}};
  var matchlng = {{location.match.lng}};
  var movlat = {{location.user.lat}};
  var movlng = {{location.user.lng}};

    function initMap() {
      var user = {lat: userlat, lng: userlng};
      var match = {lat: matchlat, lng: matchlng};
      var mov = {lat: movlat, lng: movlng};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: mov
      });
      var createMarker = function(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });
      marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')


        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      };

      var user_marker = new google.maps.Marker({
        position: user,
        map: map
      });
      var match_marker = new google.maps.Marker({
        position: match,
        map: map
      });

      user_marker.addListener('click', function() {
        var infoWindow = new google.maps.InfoWindow({
          content: '<h4>Your Location</h4>'
        });
        infoWindow.open(map, user_marker)
      });

      match_marker.addListener('click', function() {
        var infoWindow = new google.maps.InfoWindow({
          content: '<h4>Your Match\'s Location</h4>'
        });
        infoWindow.open(map, match_marker)
      });

      user_marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')
      match_marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')

      var request = {
        location: user,
        radius: '500',
        query: 'movie theater'
      };
      
      service = new google.maps.places.PlacesService(map);
      service.textSearch(request, callback);

      infowindow = new google.maps.InfoWindow();
      var service = new google.maps.places.PlacesService(map);
      service.nearbySearch({
        location: user,
        radius: 10000,
        type: ["movie_theater"]
      }, function(results, status) {
        console.log(results);
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            createMarker(results[i]);
          }
        }
      });

    }
  </script>


    <div class="row text-center">
      <div class="col-xs-6">
        <div class="row">
          <h3>Common Movies</h3>
          <div class="list-group list-group-horizontal">
            {% for movie in CommonMovies%}
            <a href="movieDetail/{{movie.DBid}}" class="list-group-item">
              <div class="row">
                <div class="col-sm-12">
                  <img class="img-responsive thumbnail center-block" style="width:150px; height:200px;" src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}"/>
                  <p class="text-center">{{movie.title}}</p>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>

        <div class="row">
          <h3>Common Actors/Actresses/Directors</h3>
          <div class="list-group list-group-horizontal">
            {% for person in CommonPeople %}
            <a href="personDetail/{{person.DBid}}" class="list-group-item">
              <div class="row">
                <div class="col-sm-12">
                {% if person.profile_path %}
                  <img class="img-responsive thumbnail center-block" src="http://image.tmdb.org/t/p/w342{{person.profile_path}}" style="width:150px; height:200px;"/>
                 {% else %}
                  <img class="img-responsive thumbnail center-block" src="http://placehold.it/150x200"/>
                 {% endif%}
                  <p class="text-center">{{person.name}}</p>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>

      </div>
      <div class="col-xs-6 text-center">
        <h3 style="width:80%">Suggested Movie Theaters</h3>
        <div id="map"></div>
      </div>
    </div>



{% endblock %}
