{% extends "partials/layout.html" %}
{% block title %} FilmDatify {% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="page-header">
		  <h1>Example page header <small>Subtext for header</small></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" id="match-container">
			<div class="col-sm-2 text-center">
				<a>
					<img class="img-responsive" src="http://placehold.it/150x150"/>
					<h5>Name</h5>
					<p>Age</p>
					<p>Location</p>
				</a>
			</div>
			<div class="col-sm-2 text-center">
				<a>
					<img class="img-responsive" src="http://placehold.it/150x150"/>
					<h5>Name</h5>
					<p>Age</p>
					<p>Location</p>
				</a>
			</div>
			<div class="col-sm-2 text-center">
				<a>
					<img class="img-responsive" src="http://placehold.it/150x150"/>
					<h5>Name</h5>
					<p>Age</p>
					<p>Location</p>
				</a>
			</div>
			<div class="col-sm-2 text-center">
				<a>
					<img class="img-responsive" src="http://placehold.it/150x150"/>
					<h5>Name</h5>
					<p>Age</p>
					<p>Location</p>
				</a>
			</div>
			<div class="col-sm-2 text-center">
				<a>
					<img class="img-responsive" src="http://placehold.it/150x150"/>
					<h5>Name</h5>
					<p>Age</p>
					<p>Location</p>
				</a>
			</div>
			<div class="col-sm-2 text-center">
				<a>
					<img class="img-responsive" src="http://placehold.it/150x150"/>
					<h5>Name</h5>
					<p>Age</p>
					<p>Location</p>
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="container" id="matchBox">
			<div class="col-md-3">
				<h3>Your Matches</h3>
				<div>
					<img class="img-responsive thumbnail" src="{{ url_for('static', filename='images/RandomMan1.jpg') }}" id="matchImg">
					<h3> Blake Peckham </h3>
					<h4> Age: 22 </h4>
					<h4> Location: Chicago </h4>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-success">Yes</button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-danger">No</button>
					  </div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<h3>Movies</h3>
				<div class="list-group">
				  <a href="movieDetail/12345" class="list-group-item">
						<div class="row">
							<div class="col-xs-6">
								<img class="img-responsive thumbnail" src="http://placehold.it/150x200"/>
							</div>
							<div class="col-xs-6">
								<p>Title</p>
								<p>Year</p>
								<p>Genre</p>
								<p>Director</p>
							</div>
						</div>
					</a>

					<a href="/movieDetail" class="list-group-item">
						<div class="row">
							<div class="col-xs-6">
								<img class="img-responsive thumbnail" src="http://placehold.it/150x200"/>
							</div>
							<div class="col-xs-6">
								<p>Title</p>
								<p>Year</p>
								<p>Genre</p>
								<p>Director</p>
							</div>
						</div>
					</a>

					<a href="/movieDetail" class="list-group-item">
						<div class="row">
							<div class="col-xs-6">
								<img class="img-responsive thumbnail" src="http://placehold.it/150x200"/>
							</div>
							<div class="col-xs-6">
								<p>Title</p>
								<p>Year</p>
								<p>Genre</p>
								<p>Director</p>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-3">
				<h3>Actors/Actresses</h3>
				<div class="list-group">
				  <a href="#" class="list-group-item">
						<div class="row">
							<div class="col-xs-6">
								<img class="img-responsive thumbnail" src="http://placehold.it/150x200"/>
							</div>
							<div class="col-xs-6">
								<p>Name</p>
								<p>Age</p>
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item">
						<div class="row">
							<div class="col-xs-6">
								<img class="img-responsive thumbnail" src="http://placehold.it/150x200"/>
							</div>
							<div class="col-xs-6">
								<p>Name</p>
								<p>Age</p>
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item">
						<div class="row">
							<div class="col-xs-6">
								<img class="img-responsive thumbnail" src="http://placehold.it/150x200"/>
							</div>
							<div class="col-xs-6">
								<p>Name</p>
								<p>Age</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<h3>Directors</h3>
				<div class="list-group">
				  <a href="#" class="list-group-item">
						<div class="row">
							<div class="col-xs-6">
								<img class="img-responsive thumbnail" src="http://placehold.it/150x200"/>
							</div>
							<div class="col-xs-6">
								<p>Name</p>
								<p>Age</p>
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item">
						<div class="row">
							<div class="col-xs-6">
								<img class="img-responsive thumbnail" src="http://placehold.it/150x200"/>
							</div>
							<div class="col-xs-6">
								<p>Name</p>
								<p>Age</p>
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item">
						<div class="row">
							<div class="col-xs-6">
								<img class="img-responsive thumbnail" src="http://placehold.it/150x200"/>
							</div>
							<div class="col-xs-6">
								<p>Name</p>
								<p>Age</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}