{% extends "partials/layout.html" %}
{% block title %} FilmDatify {% endblock %}

{% block body %}
<style type="text/css">
	.list-group-horizontal .list-group-item {
	    display: inline-block;
	}
	.list-group-item {
		border: none;
	}
</style>

<div class="container">
	<div class="row">
		<div class="page-header">
		  <h1>Matches <small>Subtext for header</small></h1>
		</div>
	</div>
	<div class="row">
		<div class="list-group list-group-horizontal">
			{% for match in Matches %}
			<a href="/matchDetail/{{match.id}}" class="list-group-item">
				<div class="row">
					<div class="col-sm-12">
						<img class="img-responsive thumbnail center-block" src="{{match.picture_url}}"/>
						<p class="text-center">{{match.name}}</p>
						<p class="text-center">{{match.miles_apart |round}} miles away</p>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="container">
			{% if newMatch %}
			<div class="col-sm-3">
				<h3>New Match</h3>
				<div>

					<img class="img-responsive thumbnail center-block" src="{{newMatch.picture_url}}">
					<h3> {{newMatch.name}} </h3>
					{% if newMatch.gender == 1%}
						<h4> Gender: Male </h4>
					{% elif newMatch.gender == 0 %}
						<h4> Gender: Female </h4>
					{% else%}
						<h4> Gender: Other </h4>
					{% endif %}
					<h4> Location: {{newMatch.miles_apart|round}} miles away </h4>
					<div class="btn-group btn-group-justified" role="group">
					  <div class="btn-group" role="group">
  						<form accept-charset="UTF-8" action="/accpet/{{newMatch.id}}/{{current_user.id}}" method="POST">
								<input name="MatchId" type="hidden" value="{{newMatch.id}}"> 
								<input name="state" type="hidden" value="yes"> 
						    <button type="submit" class="btn btn-success">Yes</button>
					    </form>
					  </div>
					  <div class="btn-group" role="group">
  						<form accept-charset="UTF-8" action="/matches" method="POST">
								<input name="MatchId" type="hidden" value="{{newMatch.id}}"> 
								<input name="state" type="hidden" value="no"> 
						    <button type="button" class="btn btn-danger">No</button>
 					    </form>
					  </div>
					</div>
				</div>
			</div>

			<div class="col-sm-9">
				<div class="row">
					<h3>Movies</h3>
					<div class="list-group list-group-horizontal">
						{% for movie in CommonMovies%}
            <a href="movieDetail/{{movie.DBid}}" class="list-group-item">
              <div class="row">
                <div class="col-sm-12">
                  <img class="img-responsive thumbnail center-block" style="width:150px; height:200px;"	src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}"/>
                  <p class="text-center">{{movie.title}}</p>
                </div>
              </div>
            </a>
            {% endfor %}
					</div>
				</div>

				<div class="row">
					<h3>Actors/Actresses/Directors</h3>
					<div class="list-group list-group-horizontal">
						{% for person in CommonPeople %}
					  <a href="personDetail/{{person.DBid}}" class="list-group-item">
							<div class="row">
								<div class="col-sm-12">
								{% if person.profile_path %}
                  <img class="img-responsive thumbnail center-block" src="http://image.tmdb.org/t/p/w342{{person.profile_path}}"/>
                 {% else %}
									<img class="img-responsive thumbnail center-block" src="http://placehold.it/150x200"/>
                 {% endif%}
									<p class="text-center">{{person.name}}</p>
								</div>
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
			{% endif %}
			</div>
		</div>
	</div>
</div>


{% endblock %}