{% extends "partials/layout.html" %}
{% block title %} FilmDatify {% endblock %}

{% block body %}
<style type="text/css">
	 .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}	
</style>
<div class="container">
	<div class="row">
		<div class="page-header">
		  <h1>{{movie.title}} <small>{{movie.year}}</small></h1>
		  	<!-- Button trigger modal -->
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Rate movie</h4>
	      </div>
	      <div class="modal-body">
	        <div class="col-md-12">
						<form action="/movieDetail/{{movie_id}}" method="POST">
							<input id="ratings-hidden" name="rating" type="hidden"> 
							<textarea class="form-control animated" cols="50" id="new-review" name="comments" placeholder="Enter your review here..." rows="5"></textarea>

							<div class="text-right">
						    <div class="stars starrr" data-rating="0"></div>
						    <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
						    <span class="glyphicon glyphicon-remove"></span>Cancel</a>
				        <button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
	      </div>
	      <div class="modal-footer"></div>
	    </div>
	  </div>
	</div>

	<div class="modal-body row">
		{% if count <= 0 %}
		<div class="pull-right">
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
			    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Rate this movie
			</button>
		</div>
		{% endif %}
		<div class="col-sm-4" id="col1">
			{% if movieExtra.poster_path %}
			<img class="img-responsive center-block thumbnail" src={{"http://image.tmdb.org/t/p/w342"+movieExtra.poster_path}}>
			{% else %}
			<img class="img-responsive thumbnail center-block" src="http://placehold.it/300x500"/>
			{% endif %}
		</div>

		<div class="col-sm-8" id="col2">
			<p> Year: {{movie.year}} </p>
			<p> Rating: {{movie.rating}} </p>
			<p> Duration: {{movie.duration}} </p>
			<p> Genre(s): {{movie.genres}} </p>
			<br>
			<p> Directed by: {{movie.directors}} </p>
			<br><br>
			<p> Plot: {{movie.plot}} </p>
		  <p>Cast:</p>
		  	{% for actor in actors%}
			  	<a href="/personDetail/{{actor.id}}">{{actor.name}}</a>
			  	{% if not loop.last %} |  {%endif%}
		  	{% endfor %}
			</div>
	</div>
</div>

{% endblock %}