{% extends "partials/layout.html" %}
{% block title %} FilmDatify {% endblock %}

{% block body %}
<div class="container">
  <form class="form-horizontal" role="form" action="/register" method="POST">
    <h2>Registration Form</h2>
    {{ form.hidden_tag() }}
    {% for field in form.errors %}
      {% for error in form.errors[field] %}
        <div class="alert alert-danger">
          <strong>Error!</strong> {{error}}
        </div>
      {% endfor %}
    {% endfor %}
    <div class="form-group">
      <label for="firstName" class="col-sm-3 control-label">Full Name</label>
      <div class="col-sm-6">
	      {{form.name(class="form-control", placeholder="Name", required=true)}}
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-6">
	      {{form.email(class="form-control", placeholder="Email", required=true)}}
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-6">
	      {{form.password(class="form-control", required=true)}}
      </div>
    </div>
    <div class="form-group">
      <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
      <div class="col-sm-6">
	      {{form.birthdate(class="form-control", type="date", required=true)}}
      </div>
    </div>
    <div class="form-group">
      <label for="country" class="col-sm-3 control-label">Location</label>
      <div class="col-sm-6">
	      {{form.location(class="form-control", required=true)}}
      </div>
    </div> <!-- /.form-group -->
    <div class="form-group">
      <label class="control-label col-sm-3">Gender</label>
      <div class="col-sm-6">
	      {{form.gender(class="form-control", required=true)}}
      </div>
    </div> <!-- /.form-group -->
    <div class="form-group">
      <label class="control-label col-sm-3">Interested In</label>
      <div class="col-sm-6">
 	      {{form.interested_in(class="form-control", required=true)}}
      </div>
    </div> <!-- /.form-group -->
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="checkbox">
          <label>
            <input type="checkbox">I accept <a href="#">terms</a>
          </label>
        </div>
      </div>
    </div> <!-- /.form-group -->
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </div>
    </div>
  </form> <!-- /form -->
</div> <!-- ./container -->
{% endblock %}